localhost:8090
log log/access.log

tls sec/cert.pem sec/key.pem

browse /blog
markdown /blog {
	ext md txt
	css /resource/css/blog.css
	js  /resource/js/blog.js
}

websocket /echo cat

proxy /api localhost:8091


